<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Edit post </h1>
    <p>Post id : <%= post.id %></p>
    <p>post username : <%= post.username  %></p>
    <form method="post" action="/posts/<%= post.id %>/?_method=PATCH">
        <textarea name="content"  id="" autofocus><%=post.content  %> </textarea>
        <button type="submit">submit</button>
    </form>
    <script>
        window.onload = function() {
          var textarea = document.getElementById('myTextarea');
          textarea.focus(); // Focus on the textarea
          textarea.setSelectionRange(textarea.value.length, textarea.value.length); // Move cursor to the end
        };
      </script>
      
</body>
</html>