<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora post</h1>
<form action="/posts" method="post">
    <input type="text" name="user" placeholder="Enterr username" id="user">
    <br>
    <textarea name="content" id="content" placeholder="content"></textarea>
    <button type="submit">Add</button>
</form>

</body>
</html>